GOOGLE_API_KEY=
REDIS_URL=redis://127.0.0.1:6379
SESSION_DB_URL=sqlite+aiosqlite:///./data/sessions.sqlite
POC_DB_URL=sqlite+aiosqlite:///./data/poc.sqlite
QUEUE_NAME=fastapi-adk-messages
BUFFER_MS=0.4
PORT=8000
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_APP_ID=
WHATSAPP_AGENT_ID=amaru
